--
-- PostgreSQL database dump
--

\restrict DUmbL48VZ5MNYecz7tVSwFwiSyHUmuAdmbyhkkowM0y0ONucLA8nNotEQGKfUaH

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    recommendation_id uuid NOT NULL,
    status character varying(20) NOT NULL,
    applied_date date,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT applications_status_check CHECK (((status)::text = ANY ((ARRAY['Applied'::character varying, 'Interview'::character varying, 'Offered'::character varying, 'Rejected'::character varying, 'Withdrawn'::character varying])::text[])))
);


ALTER TABLE public.applications OWNER TO jobhelper;

--
-- Name: job_scores; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.job_scores (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    profile_id uuid NOT NULL,
    overall_score numeric(5,2) NOT NULL,
    title_score numeric(5,2),
    skills_score numeric(5,2),
    location_score numeric(5,2),
    employment_score numeric(5,2),
    explanation text,
    scored_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.job_scores OWNER TO jobhelper;

--
-- Name: job_sources; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.job_sources (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source_name character varying(100) NOT NULL,
    source_type character varying(30) NOT NULL,
    base_url text NOT NULL,
    search_url text,
    enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.job_sources OWNER TO jobhelper;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source_id uuid NOT NULL,
    title character varying(250) NOT NULL,
    company character varying(150) NOT NULL,
    location character varying(150),
    employment_type character varying(50),
    work_mode character varying(30),
    salary_min numeric(10,2),
    salary_max numeric(10,2),
    salary_currency character varying(10),
    description text,
    job_url text NOT NULL,
    external_job_id character varying(100),
    posted_date date,
    collected_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    job_hash character varying(64) NOT NULL,
    active boolean DEFAULT true
);


ALTER TABLE public.jobs OWNER TO jobhelper;

--
-- Name: recommendations; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.recommendations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    profile_id uuid NOT NULL,
    overall_score numeric(5,2) NOT NULL,
    recommended boolean NOT NULL,
    recommendation_reason text,
    email_sent boolean DEFAULT false,
    viewed boolean DEFAULT false,
    saved boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.recommendations OWNER TO jobhelper;

--
-- Name: resumes; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.resumes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    file_name character varying(255) NOT NULL,
    resume_text text NOT NULL,
    ai_summary text,
    extracted_skills jsonb,
    years_experience integer,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    current_title character varying(150)
);


ALTER TABLE public.resumes OWNER TO jobhelper;

--
-- Name: search_keywords; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.search_keywords (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    profile_id uuid NOT NULL,
    keyword character varying(100) NOT NULL,
    keyword_type character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT search_keywords_keyword_type_check CHECK (((keyword_type)::text = ANY ((ARRAY['include'::character varying, 'exclude'::character varying])::text[])))
);


ALTER TABLE public.search_keywords OWNER TO jobhelper;

--
-- Name: search_profiles; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.search_profiles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    profile_name character varying(100) NOT NULL,
    preferred_location character varying(100),
    employment_type character varying(50),
    work_mode character varying(30),
    minimum_score integer DEFAULT 70,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.search_profiles OWNER TO jobhelper;

--
-- Name: users; Type: TABLE; Schema: public; Owner: jobhelper
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO jobhelper;

--
-- Name: vw_application_summary; Type: VIEW; Schema: public; Owner: jobhelper
--

CREATE VIEW public.vw_application_summary AS
 SELECT status,
    count(*) AS total
   FROM public.applications
  GROUP BY status;


ALTER VIEW public.vw_application_summary OWNER TO jobhelper;

--
-- Name: vw_recommended_jobs; Type: VIEW; Schema: public; Owner: jobhelper
--

CREATE VIEW public.vw_recommended_jobs AS
 SELECT j.id,
    j.title,
    j.company,
    j.location,
    js.overall_score,
    r.recommended,
    j.job_url
   FROM ((public.jobs j
     JOIN public.job_scores js ON ((j.id = js.job_id)))
     JOIN public.recommendations r ON ((j.id = r.job_id)))
  WHERE (r.recommended = true);


ALTER VIEW public.vw_recommended_jobs OWNER TO jobhelper;

--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: jobhelper
--

COPY public.applications (id, recommendation_id, status, applied_date, notes, created_at, updated_at) FROM stdin;
949634c3-c40d-4b98-abfb-8a499b32f469	8f3f6978-4817-4a29-b6b6-006035024f28	Applied	2026-07-11	Application submitted through the company website.	2026-07-11 23:20:50.992764	2026-07-11 23:20:50.992764
\.


--
-- Data for Name: job_scores; Type: TABLE DATA; Schema: public; Owner: jobhelper
--

COPY public.job_scores (id, job_id, profile_id, overall_score, title_score, skills_score, location_score, employment_score, explanation, scored_at) FROM stdin;
2ef92a89-44fc-431c-b014-03cd9b82a2e7	a3e3c40b-fbc2-4fb1-b997-427cf0a356f8	de9dbb69-9abc-4398-8bb2-c28f65942a22	91.00	95.00	90.00	88.00	92.00	Excellent match for the Business Analyst profile. Strong alignment with required skills, preferred location, and employment type.	2026-07-11 14:15:42.856253
\.


--
-- Data for Name: job_sources; Type: TABLE DATA; Schema: public; Owner: jobhelper
--



--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: jobhelper
--



--
-- Data for Name: recommendations; Type: TABLE DATA; Schema: public; Owner: jobhelper
--

COPY public.recommendations (id, job_id, profile_id, overall_score, recommended, recommendation_reason, email_sent, viewed, saved, created_at) FROM stdin;
8f3f6978-4817-4a29-b6b6-006035024f28	a3e3c40b-fbc2-4fb1-b997-427cf0a356f8	de9dbb69-9abc-4398-8bb2-c28f65942a22	91.00	t	Score exceeded the minimum threshold and matched the user profile.	f	f	f	2026-07-11 22:41:12.105973
\.


--
-- Data for Name: resumes; Type: TABLE DATA; Schema: public; Owner: jobhelper
--



--
-- Data for Name: search_keywords; Type: TABLE DATA; Schema: public; Owner: jobhelper
--



--
-- Data for Name: search_profiles; Type: TABLE DATA; Schema: public; Owner: jobhelper
--

COPY public.search_profiles (id, user_id, profile_name, preferred_location, employment_type, work_mode, minimum_score, active, created_at) FROM stdin;
de9dbb69-9abc-4398-8bb2-c28f65942a22	64ae3eb2-a9ed-4325-8bbc-34acb448abb6	Business Analyst	Toronto	Full-Time	Hybrid	85	t	2026-07-11 03:07:33.776154
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: jobhelper
--

COPY public.users (id, full_name, email, created_at, updated_at) FROM stdin;
64ae3eb2-a9ed-4325-8bbc-34acb448abb6	Alireza Kazemzadeh	alireza.kazemzadeh@georgebrown.ca	2026-07-11 02:58:27.680032	2026-07-11 02:58:27.680032
\.


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: job_scores job_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.job_scores
    ADD CONSTRAINT job_scores_pkey PRIMARY KEY (id);


--
-- Name: job_sources job_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.job_sources
    ADD CONSTRAINT job_sources_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_job_hash_key; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_job_hash_key UNIQUE (job_hash);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: recommendations recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT recommendations_pkey PRIMARY KEY (id);


--
-- Name: resumes resumes_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT resumes_pkey PRIMARY KEY (id);


--
-- Name: resumes resumes_user_id_key; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT resumes_user_id_key UNIQUE (user_id);


--
-- Name: search_keywords search_keywords_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.search_keywords
    ADD CONSTRAINT search_keywords_pkey PRIMARY KEY (id);


--
-- Name: search_profiles search_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.search_profiles
    ADD CONSTRAINT search_profiles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_applications_status; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_applications_status ON public.applications USING btree (status);


--
-- Name: idx_jobs_company; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_jobs_company ON public.jobs USING btree (company);


--
-- Name: idx_jobs_hash; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_jobs_hash ON public.jobs USING btree (job_hash);


--
-- Name: idx_jobs_location; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_jobs_location ON public.jobs USING btree (location);


--
-- Name: idx_jobs_posted_date; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_jobs_posted_date ON public.jobs USING btree (posted_date);


--
-- Name: idx_jobs_title; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_jobs_title ON public.jobs USING btree (title);


--
-- Name: idx_jobs_url; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_jobs_url ON public.jobs USING btree (job_url);


--
-- Name: idx_recommendations_profile; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_recommendations_profile ON public.recommendations USING btree (profile_id);


--
-- Name: idx_recommendations_recommended; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_recommendations_recommended ON public.recommendations USING btree (recommended);


--
-- Name: idx_resume_user; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_resume_user ON public.resumes USING btree (user_id);


--
-- Name: idx_scores_overall; Type: INDEX; Schema: public; Owner: jobhelper
--

CREATE INDEX idx_scores_overall ON public.job_scores USING btree (overall_score);


--
-- Name: applications fk_application_recommendation; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT fk_application_recommendation FOREIGN KEY (recommendation_id) REFERENCES public.recommendations(id) ON DELETE CASCADE;


--
-- Name: jobs fk_jobs_source; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT fk_jobs_source FOREIGN KEY (source_id) REFERENCES public.job_sources(id) ON DELETE RESTRICT;


--
-- Name: search_keywords fk_keyword_profile; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.search_keywords
    ADD CONSTRAINT fk_keyword_profile FOREIGN KEY (profile_id) REFERENCES public.search_profiles(id) ON DELETE CASCADE;


--
-- Name: search_profiles fk_profile_user; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.search_profiles
    ADD CONSTRAINT fk_profile_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recommendations fk_recommendation_job; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT fk_recommendation_job FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: recommendations fk_recommendation_profile; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT fk_recommendation_profile FOREIGN KEY (profile_id) REFERENCES public.search_profiles(id) ON DELETE CASCADE;


--
-- Name: resumes fk_resume_user; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT fk_resume_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: job_scores fk_scores_job; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.job_scores
    ADD CONSTRAINT fk_scores_job FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_scores fk_scores_profile; Type: FK CONSTRAINT; Schema: public; Owner: jobhelper
--

ALTER TABLE ONLY public.job_scores
    ADD CONSTRAINT fk_scores_profile FOREIGN KEY (profile_id) REFERENCES public.search_profiles(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DUmbL48VZ5MNYecz7tVSwFwiSyHUmuAdmbyhkkowM0y0ONucLA8nNotEQGKfUaH

